<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <div class="footer-heading">
		<img src="{{ '/assets/Consultia-IT_Logo-1024x196_inverse.png' | relative_url }}" />
	</div> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
		<img src="{{ '/assets/Consultia-IT_Logo-1024x196_inverse.png' | relative_url }}" />
        <!-- <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul> -->
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
	
	<div class="footer-col-wrapper">
		<div class="footer-col">
			<p>© 2022.Todos los derechos reservados.</p>
		</div>	
	</div>

  </div>

</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
